.App {

  height: 100%;

  .app-navbar {
    height: 50px;
    position: relative;

    nav {
      display: flex;
      flex-direction: row;

      .logo {

        display: flex;
        flex-direction: row;
        margin: 12px auto 0 32px;

        a {
          display: flex;
          color: black;
          text-decoration: none;
          cursor: pointer;
          &:hover {
            text-decoration: none;
          }
        }

        img {
          width: 50px;
          height: 50px;
        }

        p {
          font-size: 42px;
          margin: 0 0 0 25px;
          line-height: 55px;
          font-family: 'Bebas Neue', cursive;
        }
      }

      .map-link, .profile {
        margin: 24px 32px 0 0;
        button {
          background-color: white;
          border: 1px #FCBE19 solid;
          color: black;
          box-shadow: none;
          span {
            margin: 0 10px 0 0!important;
          }
        }
      }
    }
  }

  .app-content {
    position: fixed;
    width: 100%;
    top: 50px;
    height: calc(100% - 50px);
  }
}

#root {
  height: 100%;
}
