.card {
  background-color: #FFFFFF;
  // border-radius: 20px;
  width: 98%;
  margin: 25px 0;
  margin-left: 0.5%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  transition: transform .3s linear;

  &:hover {
    transform: translateY(-4px);
  }

  .content {
    padding: 25px;
    flex-basis: 60%;

    .header {
      display: flex;
      flex-direction: row;

      .name {
        .address {
          display: flex;
          flex-direction: row;
        }
      }

      .date {
        margin-left: auto;
        margin-top: 15px;
      }
    }

    .utilities {
      display: flex;
      flex-direction: row;

      .subscribe-count {
        margin-left: auto;
        display: flex;
        align-items: center;

        p {
          margin: 0 0 0 5px;
        }
      }
    }
  }

  .image {
    flex-basis: 40%;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.subscribe-button, .dialog-subscribe-button {
  width: fit-content;
  padding: 12px;
  height: 35px;
  background-color: #FCBE19 ;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  line-height: 0.8;

  &.subscribed {
    background-color: #43BF4D;

    span {
      margin-right: 5px;
      margin-top: 1.5px;
    }
  }

  &.disabled {
    background-color: grey;
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
  }

}

.dialog-subscribe-button {
  margin: 15px auto 0 auto;
  height: 30px !important;
  line-height: 5px;
}

.bp3-dialog {
  padding: 0;
}
