.index-page {
  display: flex;
  flex-direction: row;

  .table-events-container, .table-popular-container {
    padding: 32px;
    margin: 32px;
    background-color: #FFFFFF;
    h1 {
      margin: 0;
      font-size: 32px;
    }
  }

  .table-events-container {
    flex-basis: 75%;
  }

  .table-popular-container {
    flex-basis: 25%;
    margin: 32px 32px 0 0;
  }
}
