.login-dialog {

  display: flex;
  justify-content: center;
  align-items: center;

  .bp3-dialog-header {
    width: 100%;
        
    .bp3-heading {
      display: flex;
      justify-content: center;
    }

  }

  .login-tabs {

    .bp3-tab-list {
      display: flex;
      justify-content: center;

      :nth-child(n) {
        outline: none;
      }

    }

    .form-group {
      input {
        margin-bottom: 10px;
      }
      button {
        width: 100%;
      }
      .account-type-radio-buttons {
        display: flex;
        justify-content: space-around;
      }
    }

  }

}