.map-page {
  display: flex;
  flex-direction: row;
  p {
    text-align: left;
    margin-left: 20%;
  }

  body {
    overflow: hidden;
  }

  .table-popular-container,
  .map-container {
    margin: 32px;
    padding: 32px;
    background-color: #E1E8ED;
    box-sizing: border-box;
    h1 {
      margin: 0;
      font-size: 32px;
      padding-bottom: 25px;
    }
  }

  .table-popular-container {
    width: 25%;
    // background-color: #CED9E0;
    // margin: 32px;
  }

  .map-container {
    width: 75%;
  }
}
