.popular-card {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 20px;
  margin: 25px 0;
  padding: 25px;
  border-radius: 4px;
  border: 1px solid #CFCECE;

  .header {
    display: flex;
    flex-direction: row;

    .name {
      display: flex;
      flex-direction: column;
    }

    .subscribe-count {
      display: flex;
      margin-left: auto;
      padding-top: 3px;
      span {
        margin-left: 20%;
      }
      p {
        padding-left: 5px;
      }
    }
  }
  .subscribe-button, .dialog-subscribe-button {
    width: fit-content;
    padding: 12px;
    height: 35px;
    background-color: #FCBE19    ;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    line-height: 0.8;
    cursor: pointer;
    &.subscribed {
      background-color: #43BF4D;
      span {
        margin-right: 5px;
        margin-top: 1.5px;
      }
    }
    &.disabled {
      background-color: grey;
      opacity: 0.5;
      cursor: default;
      pointer-events: none;
    }
    
  }
  .dialog-subscribe-button {
    margin: 15px auto 0 auto;
    height: 30px!important;
    line-height: 5px;
  }
  .bp3-dialog {
    padding: 0;
  }
}
