.profile-page-container {
  display: flex;
  height: 100%;

  .profile-page-event-table {
    flex-basis: 75%;
    display: flex;
    position: relative;
    background-color: #E1E8ED;
    padding: 5px 32px 32px 32px;
    margin: 32px 32px 0 0;

    .add-event-button {
      height: 45px;
      margin: 15px;
      background-color: #43BF4D;
      width: fit-content;
      padding: 12px;
      color: #FFFFFF;
      display: flex;
      justify-content: center;
      border-radius: 4px;
      cursor: pointer;
      position: absolute;
      bottom: 0;
      right: 0;
      align-items: center;

      span {
        margin-right: 5px;
        margin-top: 2px;
      }
    }
  }

  .event-form-date-picker {
    display: flex;
    justify-content: space-evenly;

    :nth-child(n) {
      margin-right: 10px;
      margin-left: 10px;
    }
  }

  .profile {
    flex-basis: 25%;
    margin: 32px 32px 0 0;
    display: flex;
    flex-direction: column;

    img {
      margin: 0 auto;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
    }

    .avatar {
      width: 90px;
      min-height: 90px;
      border-radius: 50%;
    }

    .profile-fields {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;

      .bp3-label {
        text-align: start;
      }

      .profile-social-networks-labels {
        .bp3-label {
          display: flex;
          flex-direction: row;
          align-items: center;

          img {
            flex-basis: 10%;
          }

          div {
            flex-basis: 90%;
          }
        }
      }

      img {
        width: 24px;
        height: 24px;
      }

      .button-container {
        display: flex;
        justify-content: space-evenly;
      }

      .profile-bio {
        min-height: 8rem;
        max-height: 8rem;
        width: 100%;
        resize: none;
      }
    }
  }
}

.event-dialog {

  display: flex;
  justify-content: center;
  align-items: center;

  .bp3-dialog-header {
    width: 100%;

    .bp3-heading {
      display: flex;
      justify-content: center;
    }

  }


  .form-group {
    display: flex;

    input {
      margin-bottom: 10px;
    }

    button {
      align-self: center;

    }
  }

}
